.App {
  text-align: center;
}
.Header{
  background-color: blue;
  color:whitesmoke;
  margin-bottom: 3em;
}
.displayNone{
  display: none;
}
.displayBlock{
  display: block;
}
.myModal {
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.myConditionDisplay{
  margin: 15% auto 1% ; /* 15% from the top and centered */
}
.myModalContent {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
  height: 60%;
  overflow-y: scroll;
}

.closeModal {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.closeModal:hover,
.closeModal:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
.btn {
  margin-right: 1em;
}
img{
  margin-right: 1em;
  margin-bottom: 1em;
}
.appContainer{
  margin: 1em;
}